extends layout

block content
  h1 Find your train ! -version 1.2-
  p Pick up your schedule:
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Find your train!
